<%- include('helpers/html-header') -%>
<div class="container">
  <h1>Songbook</h1>
  <a href="/login-with-google?role=admin">
    <button type="button" class="btn btn-primary login-btn">
      Login with Google (Admin)
    </button>
  </a>
  <a href="/login-with-google?role=musician">
    <button type="button" class="btn btn-primary login-btn">
      Login with Google (Musician)
    </button>
  </a>
</div>
<%- include('helpers/html-footer') -%>
